* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
                "navigation"
                "header"
                "intro"
                "cont"
                "location"
                "footer";
    grid-template-columns: 100%;
    grid-template-rows: 45px 400px 350px auto auto 150px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.navbar{grid-area: navigation;}
.header{grid-area: header;}
#intro-content{grid-area: intro;}
.content{grid-area: cont;}
.location{grid-area: location;}
.footer{grid-area: footer;}

.content {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 50% auto;
    border-top-width: 2px;
    margin-bottom: 20px;
}
#intro-content{
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 30% auto;
}
.location{
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 100%;
}
.header {
    padding: 110px;
    color: white;
    background-image: url('../img/contact-us-header-cover3.jpg');
    background-size: cover;
    text-align: left;
}
.header h1 {
    font-size: 65px;
}
.navbar {
    display: flex;
    background-color: #333;
}
#toggle-nav {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    z-index: 1;
    background-color: #334;
    border-bottom-left-radius: 10px;
}
.navbar a, #toggle-nav {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.logo img {
    height: 20px;
}
.navbar .active {
    color: skyblue;
}
.navbar a:hover {
    color: skyblue;
}

.banner {
    flex: 100%;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    text-align: left;
    color: #444;
    margin-top: 20px;
}

.apply-ad {
    color: #444;
    flex: 32%;
    background-color: rgba(250,200,200,0.15);
    padding: 20px;
    text-align: left;
    margin-left: 1%;
    box-shadow: 1px 2px 5px rgba(50,50,50,0.41);
}

.apply-ad p {
	line-height: 25px;
	
}
.welcome-intro {
    flex: 70%;
    background-color: white;
    padding: 20px;
}
.welcome-intro h1, .half h1, .banner h1, .size h1, .overview h1, .apply-ad h1, .content h1 {
    color: #5564b4;
}
.welcome-intro h2, .welcome-intro p {
    color: #444;
}
.half {
    flex: 50%;
    background-color: white;
    padding: 20px;
    text-align: left;
}
.footer {
    margin-top: 30px;
    padding: 5px;
    color: #fff;
    text-align: left;
    background: #000;
}
.footer a {
    text-decoration: none;
    color: #eee;
}
#intro-content .size {
    background-color: #e8e8e8aa;
    box-shadow: 1px 2px 5px rgba(50,50,50,0.41);
}
.center {
    text-align: center;
    width: 100%;
    padding: 0;
}
.learnBtn {
    color: #fff;
    background-color: rgba(220,80,80,1);
    border-color: #985c98;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 200px;
    margin-bottom: 20px;
}
.form-input {
    border-style: outset;
    border-width: 1px;
    border-color: rgba(50,50,100,0.35);
    font-size: 16px;
    border-radius: 3px;
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
    padding: 3px;
}
.form-textarea {
    border-style: outset;
    border-width: 1px;
    font-size: 16px;
    border-radius: 3px;
    width: 90%;
    max-height: 200px;
    min-height: 150px;
    margin-bottom: 10px;
    padding: 3px;
    border-color: rgba(50,50,100,0.35);
}

@media screen and (max-width: 700px) {

 .navbar {
    flex-direction: column;
}
.content{
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 100%;
}
#intro-content{
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 100%;
}
.header {
    padding: 30px;
    height: 250px;
    text-align: center;
}
.header h1 {
    font-size: 25px;
}
#toggle-nav {
    display: block;
}
.navbar, .logo {
    display: none;
}
.banner img {
    width: 98%;
    height: auto;
    margin-left: 1%;
}
}

@media screen and (min-width: 700px) {
.header {
    height: 400px;
}
}
