* {
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-areas: "navigation navigation"  "header header"  "links intro"  "description description"  "footer footer";
    grid-template-columns: 30% auto;
    grid-template-rows: 45px 400px 450px auto 150px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.navbar {
    grid-area: navigation;
}
.header {
    grid-area: header;
}
.alt-nav-links {
    grid-area: links;
}
.example-explanation-intro {
    grid-area: intro;
}
.Description {
    grid-area: description;
}
.footer {
    grid-area: footer;
}
.header {
    padding: 7.575em; /*~110px original value TEST */
    color: white;
    background-image: url('../img/html-code.jpg');
    background-size: cover;
    text-align: left;
}
.header h1 {
    font-size: 65px;
}
.navbar {
    display: flex;
    background-color: #333;
}
#toggle-nav {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    z-index: 1;
    background-color: #334;
    border-bottom-left-radius: 10px;
}
.navbar a, #toggle-nav {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.logo img {
    height: 20px;
}
.navbar .active {
    color: skyblue;
}
.navbar a:hover {
    color: skyblue;
}
.content {
    display: flex;
    flex-wrap: wrap;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: rgba(200,200,200,0.2);
}
#intro-content .alt-nav-links {
    border-right-color: rgba(200,200,248,0.3);
    border-right-style: solid;
    border-right-width: 2px;
}
.banner {
    flex: 100%;
    background-color: white;
    padding: 20px;
    text-align: left;
    color: #444;
}
.banner img {
    max-height: initial;
    width: auto;
    height: auto;
    margin-left: 30px;
}
.alt-nav-links {
    background-color: white;
    padding: 20px;
    text-align: left;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(200,200,200,0.1);
}
.overview {
    margin: 0px;
    color: #444;
    flex: 24%;
    background-color: rgba(235,235,248,0.1);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 1%;
    text-align: left;
}
.apply-ad {
    color: #444;
    flex: 32%;
    background-color: rgba(200,200,248,0.2);
    box-shadow: 1px 1px 5px rgba(60,60,60,0.2);
    padding: 20px;
    text-align: center;
    margin-left: 1%;
    border-radius: 12px;
}
.example-explanation {
    background-color: white;
    padding: 20px;

}

.example-explanation h3 {
	color: #444
}
.example-explanation h1, .half h1, .banner h1, .alt-nav-links h1, .overview h1, .apply-ad h1, .content h1 {
    color: #4a984a;
}
.example-explanation h2, .example-explanation p {
    color: #444;
}
.half {
    flex: 50%;
    background-color: white;
    padding: 20px;
    text-align: left;
}
.img-languages {
    width: 100%;
    padding: 20px;
    background-size: cover;
}
.example-img {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0px;
}
ul {
    line-height: 30px;
    margin: 0px;
}

.alt-nav-links ul {
    line-height: 30px;
    list-style-type: none;
}	

.learnBtn {
    display: block;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 200px;
    height: 40px;
    text-decoration: none;
    margin-bottom: 20px;
}
.footer {
    margin-top: 30px;
    padding: 5px;
    color: #fff;
    text-align: left;
    background: #000;
}
.footer a {
    text-decoration: none;
    color: #eee;
}

@media screen and (max-width: 700px) {
body {
    display: grid;
    grid-template-areas: "header"  "links"  "intro"  "description"  "footer";
    grid-template-columns: auto;
    grid-template-rows: 400px auto auto auto 150px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.content, .navbar {
    flex-direction: column;
}
.header {
    padding: 30px;
    text-align: center;
}
.header h1 {
    font-size: 25px;
}
#toggle-nav {
    display: block;
}
.navbar, .logo {
    display: none;
}
.banner img {
    width: 98%;
    height: auto;
    margin-left: 1%;
}
}
