* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
                "navigation navigation"
                "header header"
                "welcome contacts"
                "links links"
                "footer footer";

    grid-template-columns: 70% auto;        
    grid-template-rows: 45px 400px auto auto 150px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;

}
.navbar{grid-area: navigation;}
.header{grid-area: header;}
.welcome-intro{grid-area: welcome;}
.apply-ad{grid-area: contacts;}

.links{grid-area: links;}
.footer{grid-area: footer;}

.links{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;   
}



.header {
    padding: 60px;
    color: white;
    background-image: url('../img/cover.jpg');
    background-size: cover;
    text-align: left;
}
.navbar {
    padding-top: 10px;
    background-color: #333;
}
#toggle-nav {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    z-index: 1;
    background-color: #334;
    border-bottom-left-radius: 10px;
}
.navbar a, #toggle-nav {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.logo img {
    height: 20px;
}
.navbar .active {
    color: skyblue;
}
.navbar a:hover {
    color: skyblue;
}

.overview {
    
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 15px rgba(50,50,50,0.31);
    margin-left: 1%;
    margin-top: 15px;
}
.apply-ad {
    color: #444;
    flex: 30%;
    background-color: rgba(248,200,248,0.2);
    padding: 20px;
    text-align: left;
    border-width: 1px;
}
.welcome-intro {
    flex: 70%;
    background-color: white;
    padding: 20px;
}
.welcome-intro h1 {
    color: #222;
}
.welcome-intro h2, .welcome-intro p {
    color: #444;
}
.img-languages img {
    width: auto;
    max-width: 180px;
    max-height: 180px;
}
.learnBtn, .getStarted {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
}
.getStarted {
    height: 40px;
    width: 160px;
    color: white;
}
.footer {
    margin-top: 30px;
    padding:5px;
    color: #fff;
    text-align: left;
    background: #000;
}
.footer a {
    text-decoration: none;
    color: #eee;
}

@media screen and (max-width: 700px) {
	
	body {
    display: grid;
    grid-template-areas: 
                "header"
                "description"
                "links"
                "footer";
    grid-template-columns: 100%;
    grid-template-rows: 500px auto auto auto auto 150px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.links{
    display: grid;
    grid-template-columns: 100%;
}

.Description {
    display: grid;
    grid-template-columns: 100%;
}

.navbar {
    flex-direction: column;
}
.header {
    padding-top: 100px;
    text-align: center;
}

#toggle-nav {
    display: block;
}
.navbar, .logo {
    display: none;
}

}

@media screen and (min-width: 700px) {

.getStarted {
    margin-top: 60px;
}
}
