* {
    box-sizing: border-box;
}
body {
font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.header {
    padding: 60px;
    text-align: center;
    color: white;
    background-image: url('../img/cover.jpg');
    background-size: cover;
    text-align: left;
}
.navbar {
    display: flex;
    background-color: #333;
}
#toggle-nav {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    z-index: 1;
    background-color: #334;
    border-bottom-left-radius: 10px;
}
.navbar a, #toggle-nav {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.logo img {
    height: 20px;
}
.navbar .active {
    color: skyblue;
}
.navbar a:hover {
    color: skyblue;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.size-2 {
    flex: 30%;
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 15px rgba(50,50,50,0.31);
    margin-left: 1%;
    margin-top: 15px;
}
.size-3 {
    color: #444;
    flex: 30%;
    background-color: rgba(200,200,250,0.3);
    padding: 20px;
    text-align: left;
    border-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(200,200,200,0.1);
}
.size-4 {
    flex: 70%;
    background-color: white;
    padding: 20px;
}
.size-4 h1 {
    color: #222;
}
.size-4 h2, .size-4 p {
    color: #444;
}
.f-img {
    width: 100%;
    padding: 20px;
    background-size: cover;
}
.f-img img {
    width: auto;
    max-width: 180px;
    max-height: 180px;
    height: auto;
}
.learnBtn, .getStarted {
    border-radius: 8px;
    border-color: transparent;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
}
.getStarted {
    height: 40px;
    width: 160px;
    color: white;
}
.footer {
    margin-top: 30px;
    padding: 5px;
    color: #fff;
    text-align: left;
    background: #000;
}
.footer a {
    text-decoration: none;
    color: #eee;
}

@media screen and (max-width: 700px) {
.row, .navbar {
    flex-direction: column;
}
.header {
    padding: 30px;
    height: 250px;
    text-align: center;
}
#toggle-nav {
    display: block;
}
.navbar, .logo {
    display: none;
}
}

@media screen and (min-width: 700px) {
.header {
    height: 400px;
}
.getStarted {
    margin-top: 60px;
}
}
